@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductManagement.Entities.ViewModels.ProductDetails
<style>
    .accordion-button:not(.collapsed)::after {
        transform: rotate(-180deg);
    }

    .accordion-button:not(.collapsed) {
        color: #0c63e4;
        background-color: #ffffff;
        box-shadow: none;
    }
</style>
<div class="mt-4">
    <table class="table accordion  text-center dt-responsive">
        <thead>
            <tr>
                <th>
                    #.
                </th>

                <th hidden>
                    Product Id
                </th>
                <th>
                    <div class="d-flex align-items-center">
                        <div>
                            Product Name
                        </div>
                        <div class="d-flex flex-column">
                            <div class="upArrow" id="up-ProductName" style="display:block" onclick="sortcolumn('ProductName', false);">
                                <i class="fas fa-sort"></i>
                            </div>

                            <div class="downArrow" id="down-ProductName" style="display:none" onclick="sortcolumn('ProductName', true);">
                                <i class="fas fa-sort"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="d-flex">
                        Category
                        <div class="d-flex flex-column">
                            <div class="upArrow" id="up-Category" style="display:block" onclick="sortcolumn('Category', false);">
                                <i class="fas fa-sort"></i>
                            </div>

                            <div class="downArrow" id="down-Category" style="display:none" onclick="sortcolumn('Category', true);">
                                <i class="fas fa-sort"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="d-flex">
                        Price
                        <div class="d-flex flex-column">
                            <div class="upArrow" id="up-Price" style="display:block" onclick="sortcolumn('Price', false);">
                                <i class="fas fa-sort"></i>
                            </div>

                            <div class="downArrow" id="down-Price" style="display:none" onclick="sortcolumn('Price', true);">
                                <i class="fas fa-sort"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="d-flex">
                        Supplier Name
                        <div class="d-flex flex-column">
                            <div class="upArrow" id="up-SupplierName" style="display:block" onclick="sortcolumn('SupplierName', false);">
                                <i class="fas fa-sort"></i>
                            </div>

                            <div class="downArrow" id="down-SupplierName" style="display:none" onclick="sortcolumn('SupplierName', true);">
                                <i class="fas fa-sort"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="d-flex">
                        Supplier Email
                        <div class="d-flex flex-column">
                            <div class="upArrow" id="up-SupplierEmail" style="display:block" onclick="sortcolumn('SupplierEmail', false);">
                                <i class="fas fa-sort"></i>
                            </div>

                            <div class="downArrow" id="down-SupplierEmail" style="display:none" onclick="sortcolumn('SupplierEmail', true);">
                                <i class="fas fa-sort"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="d-flex">
                        Available From
                        <div class="d-flex flex-column">
                            <div class="upArrow" id="up-AvailableFrom" style="display:block" onclick="sortcolumn('AvailableFrom', false);">
                                <i class="fas fa-sort"></i>
                            </div>

                            <div class="downArrow" id="down-AvailableFrom" style="display:none" onclick="sortcolumn('AvailableFrom', true);">
                                <i class="fas fa-sort"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="accordian accordion-flush">
            @foreach (var item in Model.Products)
            {
                <tr class="accordion-item">
                    <td class="accordion-button collapsed" data-toggle="collapse" data-target="#accordian-@item.ProductId" aria-expanded="false" aria-controls="accordian-@item.ProductId"> </td>
                    <td hidden>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Category</td>
                    <td>@item.Price</td>
                    <td>@item.SupplierName</td>
                    <td>@item.SupplierEmail</td>
                    <td>
                        @{
                            var date = DateOnly.FromDateTime(@item.AvailableFrom);
                        }
                        @date
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="ProductAddEdit" asp-controller="Products" asp-route-ProductId="@item.ProductId">Edit</a>
                        <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletePopup" data-bs-ProductId="@item.ProductId">Delete</a>
                    </td>
                </tr>
                <tr class="accordion-collapse collapse" id="accordian-@item.ProductId">
                    <td colspan="2">
                        <div class="d-flex align-items-baseline">
                            <img src="@item.FilePath" height="50" width="50" />
                            <a class="px-3" download href="@item.FilePath"><i class="fa-solid fa-download"></i></a>
                        </div>
                    </td>
                    <td colspan="2"> <strong>Product description : </strong> @item.ProductDescription </td>
                    <td colspan="2"> <strong>Product Website :</strong>  @item.ProductWebsite  </td>
                    <td colspan="3"> <strong>Available At :</strong>  @item.AvailableAt  </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row d-flex justify-content-between">
        <div class="col-md-3">
            @if (ViewBag.TotalPages >= 1)
            {
                <!-- Pagination controls -->
                <nav aria-label="Page navigation ">
                    <ul class="pagination">
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(ViewBag.CurrentPage == i ? " text-info fw-bolder" : "")">
                                <a class="page-link" href="#" onclick="filterDataPagination(@i)">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
        <div class="col-md-3  mb-3 d-flex align-items-baseline">
            <label class="col-md-8">Products per page</label>
            <select class="form-control col-md-4" id="PageSize" onchange="changePagesize()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>

        </div>
    </div>



</div>

<div class="modal fade" id="deletePopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    Are you sure ? You want to delete this product?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-action="DeleteProduct" asp-controller="Products">
                    <input name="ProductId" id="ProductId" hidden />
                    <button type="submit" class="btn  btn-danger">Delete</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>


    if (document.getElementById('deletePopup')) {
        document.getElementById('deletePopup').addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const ProductId = button.getAttribute('data-bs-ProductId')
            console.log(ProductId)
            document.getElementById('ProductId').value = ProductId;
        })
    }
</script>



